@media (min-width: 320px) {
    html {
        box-sizing: border-box;
    }
    
    *, *:after, *:before {
        box-sizing: border-box;
    }
    
    .body {
        padding: 0px;
        margin: 0px;
        display: flex;
        width: 320px;
        flex-direction: column;
    }

    .body__header {
        display: flex;
        width: 320px;
        height: 88px;
        justify-content: center;
        margin: 0px;
        border-width: 0px 0px 1px;
        border-color: #D9FFF5;
        border-style: solid;
    }
    .body__main {
        display: flex;
        height: 509px;
        flex-direction: column;
        background-color: #F8F8F8;
    }

    .logo {
        margin: 0px;
        margin-right: 16.73px;
        align-self: center;
        width: 40px;
        height: 40px;
    }

    .logo-d {
        width: 2px;
        height: 32px;
        margin-right: 16.73px;
        align-self: center;
    }

    .header__logo-company {
        width: 96.55px;
        height: 50.81px;
    }

    .header__logo-call {
        display: none;  
    }

    .header__logo-chat {
        display: none;  
    }

    .header__logo-profile {
        display: none;
    }

    .header__logo-divider-2 {
        display: none;
    }

    .h2 {
        font-size: 16px;
        color: #1B1C21;
        line-height: 24px;
        letter-spacing: -0.2px;
        white-space: nowrap; 
        font-family: 'TT Lakes Demi';
    }

    .header__logo-status {
        margin-right: 0px;
    }

    .main__div {
        display: flex;
    }

    .div__highlight {
        width: 4px;
        height: 40px;
        align-self: flex-end;
    }

    .div__title {
        width: 288px;
        height: 40px;
        text-align: left;
        align-self: flex-end;
        margin-top: 24px;
        margin-bottom: 0px;
        margin-right: 16px;
        margin-left: 12px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        font-family: 'TT Lakes Bold';
    }

    .div__stat-rep {
        display: none;
    }

    .main__nav {
        display: flex;
        flex-wrap: nowrap;
        margin: 0px;
        margin-top: 24px;
        padding: 0px;
        overflow: scroll;
    }

    .h2-nav {
        color: #7E7E82;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16.54px;
        padding-right: 9.3px;
        margin: 0px;
    }

    .h2-nav:hover {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        padding: 6px 7.3px 6px 14.54px;
        border-radius: 6px;
    }

    .nav__brands {
        display: none;
    }

    .nav__devices {
        margin-left: 16px;
    }

    .main__p-rm-img {
        display: flex;
        flex-direction: column;
    }

    .p-rm-img__p-rm {
        display: flex;
        flex-direction: column;
    }

    .p {
        font-size: 14px;
        line-height: 18px;
        width: 288px;
        letter-spacing: 0.2px;
        margin: 0px;
        margin-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
        font-family: 'TT Lakes Medium';
        color: #1B1C21;
    }

    .p-rm__p-half {
        display: none;
    }

    .p-rm__p-hidden {
        display: none;
        margin: 0px;
    }

    .p-rm__read-more {
        display: flex;
        width: 132px;
        margin: 0px;
        margin-top: 16px;
        margin-left: 16px;
        margin-bottom: 13px;
        padding: 0px;
    }

    .read-more__expand {
        height: 10.29px;
        width: 7.41px;
        margin: 0px;
        align-self: center;
        margin-left: 8px;
    }

    .read-more__h2 {
        margin: 0px;
        margin-left: 14px;
        font-family: 'TT Lakes Demi';
        white-space: nowrap;
    }

    .p-rm-img__image-company {
        width: auto;
        height: auto;
    }
}

@media (min-width: 768px) {
    .body {
        width: auto;
        height: auto;
        align-items: center;
    }

    .body__header {
        width: 768px;
        height: 88px;
        justify-content:flex-end;
    }

    .header__logo-divider-2 {
        display: block;
    }

    .header__logo-company {
        margin-right: 260px;
    }

    .header__logo-call {
        display: block;
    }

    .header__logo-chat {
        display: block;
    }

    .header__logo-profile {
        display: block;
    }

    .header__logo-status {
        margin-right: 24px;
    }

    .body__main {
        width: 769px;
        height: 416px;
    }

    .div__title {
        margin-left: 20px;
    }

    .main__nav {
        margin-top: 32px;
    }

    .nav__devices {
        margin-left: 24px;
    }

    .nav__adresses {
        display: none;
    }

    .main__p-rm-img {
        flex-direction: row;
    }

    .p {
        width: 312px;
        margin-top: 32px;
        margin-left: 24px;
    }

    .p-rm__p-half {
        display: block;
    }

    .p-rm__read-more {
        margin-top: 10px;
        margin-left: 24px;
    }

    .p-rm-img__image-company {
        width: 360px;
        height: 208px;
        border-radius: 6px;
        margin-left: 48px;
        margin-top: 32px;
    }
}

@media (min-width: 1119px) {
    .body__main {
        width: 1120px;
        height: 535px;
    }

    .body__header {
        display: none;  
    }

    .logo-header {
        display: none;
    }

    .div__title {
        margin-left: 30px;
        margin-top: 42px;
        white-space: nowrap;
    }

    .div__stat-rep {
        display: flex;
        margin-left: 420px;
        align-self: flex-end;
    }

    .stat-rep__h2-repair {
        align-self: center;
        margin: 0px;
        margin-right: 8px;
    }
    
    .stat-rep__h2-status {
        align-self: center;
        margin: 0px;
        margin-right: 8px;
        margin-left: 32px;
    }

    .stat-rep__logo-repair-1 {
        display: block;
        margin-right: 0px;
        align-self: flex-end;
    }

    .stat-rep__logo-status-1 {
        display: block;
        margin-right: 32px;
        align-self: flex-end;
    }

    .main__nav {
        overflow: hidden;
        flex-wrap: wrap;
        margin-top: 9px;
    }

    .nav__adresses {
        display: block;
    }

    .nav__add-services {
        display: none;
    }

    .nav__feedback {
        margin-left: 32px;
    }

    .nav__devices {
        margin: 0px;
    }

    .nav__brands {
        display: block;
        margin-left: 32px;
    }

    .p {
        margin-left: 34px;
        width: 498px;
        margin-right: 30px;
        margin-top: 15px;
    }

    .p-rm__p-half {
        display: none;
    }

    .p-rm__p-hidden {
        display: block;
        margin-top: 34px;
    }

    .p-rm__read-more {
        margin-left: 32px;
        margin-top: 15px;
    }

    .p-rm-img__image-company {
        width: 531px;
        height: 307px;
        margin: 0px;
        margin-top: 10px;
    }
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('fonts/TTLakes-Medium.eot');
    src: url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Demi';
    src: url('fonts/TTLakes-DemiBold.eot');
    src: url('fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-DemiBold.woff') format('woff'),
    url('fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('fonts/TTLakes-Bold.eot');
    src: url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Bold.woff') format('woff'),
    url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

